<h3>Pirate of the High Sea</h3>
<li>Name: <%= @pirates.name %></li>
<li>Weight: <%= @pirates.weight %></li>
<li>Height: <%= @pirates.height %></li>
 <% @ships.each_with_index do |ship, i|%>
  <h3>Pirate Ship <%= "#{i + 1}"%></h3>
  <ul>
    <li>Name: <%= ship.name %></li>
    <li>Type: <%= ship.type %></li>
    <li>Booty: <%= ship.booty %></li>
  </ul>
<% end %>